.div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    height: 170px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.65);
    border: 5px solid black;
    border-radius: 40px;
    margin: 20px 0px;
    /* text-decoration: underline; */

}

.imgCard {
    border: 2px solid black;
    border-radius: 30px;
    height: 150px;
    align-self: center;
    margin-left: 10px;
    margin-right: 30px;
}

button {
    background-color: rgb(250, 71, 71);
    border: 0.5px solid black;
    color: white;
    font-weight: bold;
    height: fit-content;
    margin-top: 10px;
    padding: 6px 10px;
    border-radius: 50%;
}

.h2Card {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    color: rgb(12, 12, 156);
}