.SBButton {
    background-color: rgb(26, 158, 26);
    font-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    margin-left: 0.6em;
    outline: 2px solid black;
    outline-offset: -5px;
    box-shadow: inset -1.3px -1.3px 0px 0px black;
    color: white
}

.SBdiv {
    display: flex;
    align-items: center;
}

.SBButton:active {
    box-shadow: none;
}