.App {
   /* text-align: center; */
   font-family: 'Courier New', Courier, monospace;
   background-image: url("https://www.teahub.io/photos/full/193-1931528_rick-y-morty-fondo-de-pantalla-pc.jpg");
   background-size: cover;
}
