.divNav {
    background-color: rgba(111, 215, 149, 0.575);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    width: 50%;
    margin-top: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.linkNav {
    color: white;
    font-size: 2.5vh;
}